.product-item img {
    max-width: 250px;
    max-height: 250px;
}

.prod {
    background-color: #dda15e !important;
}

.mic {
    max-height: 20px;
    max-width: 20px;
} 

.haha {
    max-width: 3rem;
}

.cont-add {
    display: flex;
    justify-content: center;
    align-items: center;
}


.add {
    max-width: 8rem;
}